@keyframes glassShimmer {
  0%   { background: rgba(92, 90, 90, 0.07); }
  50%  { background: rgba(60, 58, 58, 0.483); }
  100% { background: rgb(0, 0, 0); }
}

nav {
  border: 1px solid rgba(255, 255, 255, 0.3);
}

